<% provide(:title, "Home") %>
<!DOCTYPE html>
<html> <head>
<title><%= yield(:title) %> | Run Chicken Run</title> </head>
<body>
<h1>Run Chicken Run</h1> <p>
This is the home page for the Run Chicken Run
</p> </body>
</html>