<% provide(:title, "Home") %>
<!DOCTYPE html>
<html> <head>
<title><%= full_title(yield(:title)) %></title> 
</head>
<body>
<h1><%= full_title(yield(:title)) %></h1>
<h1>Run Chicken Run</h1> <p>
Find egg stands near you
</p> </body>
</html>

